# Archivos y carpetas del IDE
nbproject/private/
.metadata/
*.log

# Archivos generados automáticamente
build/
dist/
target/
*.class

# Configuración de entornos específicos
*.properties
*.iml
.idea/
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
# Archivos y directorios específicos de spring-petclinic-main
HELP.md
pom.xml.bak
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.attach_pid*
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### SDK Man ###
.sdkmanrc

### CSS ###
_site/
*.css
!petclinic.css
